### Eclipse ###
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

wct-core/logs/
harvest-agent-h1/logs/
harvest-agent-h3/logs/
wct-store/logs/
wct-core/target/
harvest-agent-h1/target/
harvest-agent-h3/target/
wct-store/target/
wct-submit-to-rosetta/target/
wct-assembly/target/
wct-submit-to-rosetta/DpsDepositError.log

*.eml

### Intellij ###
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

## Plugin-specific files:

# IntelliJ
/out/

