### Eclipse ###
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

wct-core/logs/
wct-harvest-agent/logs/
wct-store/logs/
wct-core/target/
wct-harvest-agent/target/
wct-store/target/
wct-submit-to-rosetta/target/
wct-assembly/target/
wct-submit-to-rosetta/DpsDepositError.log