.colorPickerAnchor {
	position: relative;
	width: 36px;
	height: 36px;
	margin:0px;
	background: url(../images/select2.png);
}

.colorPickerAnchor div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/select2.png) center;
}

.threshold {
	width:40px;
}