<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </layout>
  </appender>
  
  <appender name="GeneralLog" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${log4j.dir}/wct-core.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </layout>
  </appender>
  
  <logger name="org.webcurator">
	<level value="${log4j.level}" />
	<appender-ref ref="GeneralLog"/> 	
  </logger>
    
  <logger name="org.hibernate">
	<level value="WARN" />
	<appender-ref ref="GeneralLog"/>		  	
  </logger>

  <logger name="org.springframework">
	<level value="WARN" />	
	<appender-ref ref="GeneralLog"/>	  	
  </logger>
  
  <logger name="org.apache.axis">
	<level value="WARN" />	
	<appender-ref ref="GeneralLog"/>	  	
  </logger>
  
  <logger name="org.acegisecurity">
	<level value="WARN" />	
	<appender-ref ref="GeneralLog"/>	  	
  </logger>
    
  <logger name="org.archive.crawler">
	<level value="WARN" />	
	<appender-ref ref="GeneralLog"/>	  	
  </logger>
  
  <logger name="org.springframework.web.servlet">
	<level value="FATAL" />	
	<appender-ref ref="GeneralLog"/>	  	
  </logger>
  
  <root> 
    <level value="ERROR"/>
    <appender-ref ref="Console"/>	  	
  </root>    
</log4j:configuration>
