<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} %-5level [%t] %C{2} (%F:%L) - %msg%n"/>
        </Console>
        <!-- Rolling File Appender -->
        <RollingFile name="GeneralLog">
            <FileName>${log4j.dir}/wct-core.log</FileName>
            <FilePattern>${log4j.dir}/wct-core.log.%d{yyyy-MM-dd}</FilePattern>
            <PatternLayout>
                <Pattern>%d{DEFAULT} %-5level [%t] %C{2} (%F:%L) - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.webcurator" level="${log4j.level}">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.hibernate" level="warn">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.springframework" level="warn">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.springframework.security" level="warn">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.springframework.web.servlet" level="fatal">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.springframework.ws" level="warn">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.apache.tiles" level="warn">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Logger name="org.apache.commons" level="warn">
            <AppenderRef ref="GeneralLog"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>